<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<%
  if(user.username){
     %>
        hello: <%=user.username%>
     <%
  }
%>

<%=title%>
</body>
</html>